@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
}

.hero {
    --background-tint-start: #0000007a;
    --background-tint-end: #0000005f;
    background-image: linear-gradient(
            var(--background-tint-start),
            var(--background-tint-end)
        ),
        url("../static/landscape.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    object-fit: cover;
    background-position: 0 0, center 70%;
}

.h-screen {
    min-height: 100vh;
    min-height: 100dvh;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
}

.searchArea {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    column-gap: 1em;

    max-width: 600px;
}

#location {
    flex: 1;
}

button.go {
    background-color: rgb(18, 160, 18);
    color: white;

    padding: 0.5em 0.8em;

    border: none;
    border-radius: 9999px;
}

input[type="text"] {
    padding: 0.5em 0.8em;

    border: none;
    border-radius: 9999px; /* Some really big number to get pill rounding */
}

input[type="text"].primarySearch {
    font-size: larger;
}
