@page "/"
@namespace BlazeWeather.Pages

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Web

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* Based on this StackOverflow answer: https://stackoverflow.com/a/75908259 *@
@inject IHttpContextAccessor httpContextAccessor
@{
    // DO NOT set visibility on this! idk why but that awakens the transpiler error demons
    string? remoteIpAddress = httpContextAccessor.HttpContext?.Connection?.RemoteIpAddress?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    @* Favicon *@
    <link rel="icon" type="image/png" href="favicon.png"/>

    @* Google fonts *@
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    @* Component CSS bundle *@
    <link href="BlazeWeather.styles.css" rel="stylesheet">

    @* Other CSS *@
    <link href="css/blazor.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    @* Tailwind CSS *@
    <environment include="Development">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            'sans': ['Inter', ...tailwind.defaultTheme.fontFamily.sans]
                        }
                    }
                }
            }
        </script>
    </environment>
    <environment include="Staging,Production">
        @* TODO: figure out what the hell to put here to access generated Tailwind styles instead of bundling the entire TWCSS library...*@
    </environment>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
    </div>

    <component type="typeof(App)" param-RemoteIpAddress=remoteIpAddress render-mode="ServerPrerendered" />
    
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorTime/blazorTime.js"></script>
</body>
</html>
