@page "/"

<h1>Blaze Weather</h1>

<label for="location">Location</label>

<input id="location" type="text"   @bind-value="location" placeholder="City..." />
<button @onclick="FetchWeather">Go &RightArrow;</button>

@code {
    private string location = "";
    
    private void FetchWeather()
    {
        Console.WriteLine(location);
    }
} 
