@page "/"
@using System.Threading.Tasks;
@using BlazeWeather.Services;
@using BlazeWeather.Models.Domain;

@inject GeocodingService geocodeService

<h1>Blaze Weather</h1>

<form class="searchArea" @onsubmit="WeatherSearchSubmit">
    <input id="location" class="primarySearch" type="text" @bind-value="location" placeholder="City..." />
    <button class="go" type="submit">Go &RightArrow;</button>
</form>

@if (submitted) {
    <p>
        You submitted the form, but the behaviour isn't implemented yet... please hold :)
    </p>
}



@code {
    private string location = "";
    private List<GeocodeOption>? options = null;
    private bool showResult = false;

    private bool submitted = false;

    private async Task FetchWeather()
    {
        options = (await geocodeService.GetSuggestions(location))?.ToList();
        showResult = true;
    }

    private async Task WeatherSearchSubmit()
    {
        submitted = true;
    }
} 
