@page "/"
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting

<div
    id="searchContainer"
    class="mx-auto pt-[25dvh] flex flex-col items-center gap-8 px-2"
>
    <h1
        class="text-3xl font-semibold text-white"
        style="text-shadow: 0px 0px 48px black"
    >
        <BlazeLogo />
    </h1>

    <LocationSearch />
</div>

@code {
    [Inject] BlazeWeatherContext context {get;set;} = null!;
    [Inject] IGeolocationService geolocationService {get;set;} = null!;
    [Inject] IWebHostEnvironment environment {get;set;} = null!;

    protected override async Task OnInitializedAsync()
    {
        if (environment.IsDevelopment()) {
            context.CurrentUserIP = null;
        }

        if (!environment.IsDevelopment() && context.CurrentUserIP == null) {
            Console.WriteLine("Failed to retrieve user IP address for geolocation");
        } else {
            Geocode? geocode = await geolocationService.GeolocateIpAddress(context.CurrentUserIP);
            if (geocode.HasValue) {
                Console.WriteLine(geocode.Value);
            } else {
                Console.WriteLine("Failed to geocode user IP address");
            }
        }
    }
}
