@page "/"

<div
    id="searchContainer"
    class="mx-auto pt-[25dvh] flex flex-col items-center gap-8 px-2"
>
    <h1
        class="text-3xl font-semibold text-white"
        style="text-shadow: 0px 0px 48px black"
    >
        <BlazeLogo />
    </h1>

    <LocationSearch />
</div>

@code {
    [Inject] BlazeWeatherContext Context {get;set;} = null!;

    protected override void OnInitialized()
    {
        Console.WriteLine("Loaded Index! IP: " + Context.CurrentUserIP);
    }
}
