.hero {
    min-height: 100vh;
    min-height: 100dvh;

    --background-tint-start: #0000007a;
    --background-tint-end: #0000005f;
    background-image: linear-gradient(
            var(--background-tint-start),
            var(--background-tint-end)
        ),
        url("./static/landscape.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    object-fit: cover;
    background-position: 0 0, center 70%;
}
