@inherits LayoutComponentBase;

<PageTitle>Blaze Weather</PageTitle>

<main class="relative hero warmForest overflow-auto">
    @Body

    @* TODO: add attribution for the following:
    https://www.deviantart.com/brosproduction/art/flat-forest-wallpaper-643771397
    *@
</main>
