@using Microsoft.AspNetCore.Hosting;
@using Microsoft.Extensions.Hosting;

<button
    type="button"
    class="w-full flex gap-2 items-baseline first:rounded-t-lg last:rounded-b-lg p-4 py-2 hover:bg-white/10 focus:bg-white/10"
    @onclick=@(OnSelect) 
>
    <span class="text-zinc-300 font-bold">@(City)</span>
    <span class="text-zinc-400 font-medium text-sm">@(GetRegionString())</span>
</button>

@code {
    [Parameter] public Action OnSelect {get;set;} = () => { return; };
    [Parameter] public string City { get; set; } = null!;
    [Parameter] public string State { get; set; } = null!;
    [Parameter] public string Country { get; set; } = null!;
    [Parameter] public double? Confidence { get; set; } = null;

    [Inject] private IWebHostEnvironment environment {get;set;} = null!;

    private string GetRegionString()
    {
        List<string> components = new List<string>(2);

        if (!string.IsNullOrWhiteSpace(State))
        {
            components.Add(State);
        }

        if (!string.IsNullOrWhiteSpace(Country))
        {
            components.Add(Country);
        }

        if (environment.IsDevelopment() && Confidence.HasValue) {
            components.Add(Confidence.Value.ToString());
        }

        return string.Join(", ", components);
    }
} 
