<form class="max-w-lg w-full relative">
    <div class="relative text-zinc-900 text-lg">
        <input
            type="text"
            placeholder="City"
            @oninput=@(QueryChanged)
            id="citySearch"
            class="bg-white/40 backdrop-blur-sm font-medium placeholder:text-zinc-700 w-full px-4 py-2 border-white/40 border-2 rounded-lg outline-none"
        >

        <button 
            title="Search"
            class="absolute top-0 bottom-0 right-0
                    px-4 py-2 align-middle
                    border-2 border-transparent"
        >
            <span class="oi align-middle" data-glyph="magnifying-glass"></span>
        </button>
    </div>


    @if (SearchResults?.Any() ?? false) {
        <div class="absolute bg-white/40 border-white/40 border-2 top-full mt-2 rounded-lg left-0 right-0 backdrop-blur-sm overflow-auto">
            <ol>
                @foreach (GeocodeOption result in SearchResults.Take(5)) {
                    <li>
                        <LocationSearchResult 
                            City=@(result.City) 
                            State=@(result.State) 
                            Country=@(result.Country) 
                            OnSelect=@(() => HandleItemClicked(result))
                        />
                    </li>
                }
            </ol>
        </div>
    }
</form>

@code {
    [Parameter] public Action<GeocodeOption> OnResultSelected {get;set;} = (opt) => {};

    // TODO: Geo-biasing when user location is available
    // TODO: Some way to detect ratelimiting so we can somehow switch geocoders/indicate service unavailable

    // TomTom's API (used for geocoding & search completion) has a per-second
    // and per-day rate limit so we use a fixed update interval while the user is typing
    // to avoid rapid depletion of either cap.
    private const int MINIMUM_FILTER_LENGTH = 3;
    private const float FUZZ_MIN = 0.50f;

    [Inject] private LocationSearchService locationSearchService {get;set;} = null!;

    private List<GeocodeOption>? SearchResults = null;

    protected override void OnInitialized()
    {
        locationSearchService.ResultsUpdated += (results) => {
            SearchResults = results.ToList();
            InvokeAsync(StateHasChanged);
        };
    }

    private void QueryChanged(ChangeEventArgs args)
    {
        string newQuery = args.Value?.ToString() ?? "";

        locationSearchService.UpdateQuery(newQuery);

        // clear search results when box is cleared
        if (string.IsNullOrWhiteSpace(newQuery)) {
            SearchResults = null;
        }
    }

    private void HandleItemClicked(GeocodeOption selected)
    {
        Console.WriteLine(selected);
    }
}
